# Configurações do Servidor
PORT=3000

# Banco de Dados - XAMPP
DATABASE_URL=mysql://root:@localhost:3306/av1_dsw
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=av1_dsw

# Ambiente
NODE_ENV=development
